{% extends 'layouts/layout.html' %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Création d'un catégorie</h1>
        </div>
        <div class="card-body">
            {{ form.errors }}
            <div class="row">
                <div class="col">
                    <labe for="{{ form.category.id_for_label }}">{{ form.category.label }}</labe>
                    {{ form.category }}
                </div>
                <div class="col">
                    <labe for="{{ form.name.id_for_label }}">{{ form.name.label }}</labe>
                    {{ form.name }}
                </div>
                <div class="col">
                    <labe for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</labe>
                    {{ form.slug }}
                </div>
            </div>
            <button type="submit" name="Submit" class="btn btn-sm btn-primary mt-3">
                Sauvegarder
            </button>
        </div>
    </div>
</form>
{% endblock %}