{% extends 'layouts/layout.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <h3>Information Personnelle</h3>
        <div class="col-md-4"><hr></div>
        <div class="row">
            <div class="col">
                <label for="{{ form.identifier.id_for_label }}">{{ form.identifier.label }}</label>
                {{ form.identifier }}
            </div>
            <div class="col">
                <label for="{{ form.prenom.id_for_label }}">{{ form.prenom.label }}</label>
                {{ form.prenom }}
            </div>
            <div class="col">
                <label for="{{ form.nom.id_for_label }}">{{ form.nom.label }}</label>
                {{ form.nom }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="col">
                <label for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                {{ form.telephone }}
            </div>
            <div class="col">
                <label for="{{ form.addresse_physique.id_for_label }}">{{ form.addresse_physique.label }}</label>
                {{ form.addresse_physique }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.ville.id_for_label }}">{{ form.ville.label }}</label>
                {{ form.ville }}
            </div>
            <div class="col-md-4">
                <label for="{{ form.pays.id_for_label }}">{{ form.pays.label }}</label>
                {{ form.pays }}
            </div>
        </div>
        <hr>
        <h3 class="mt-2">Information de l'entreprise</h3>
        <div class="col-md-4"><hr></div>
        <div class="row">
            <div class="col">
                <label for="{{ form.Type_pe.id_for_label }}">{{ form.Type_pe.label }}</label>
                {{ form.Type_pe }}
            </div>
            <div class="col">
                <label for="{{ form.raison_social.id_for_label }}">{{ form.raison_social.label }}</label>
                {{ form.raison_social }}
            </div>
            <div class="col">
                <label for="{{ form.statut_juridique.id_for_label }}">{{ form.statut_juridique.label }}</label>
                {{ form.statut_juridique }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="{{ form.addresse_commande.id_for_label }}">{{ form.addresse_commande.label }}</label>
                {{ form.addresse_commande }}
            </div>
            <div class="col">
                <label for="{{ form.addresse_facture.id_for_label }}">{{ form.addresse_facture.label }}</label>
                {{ form.addresse_facture }}
            </div>
            <div class="col">
                <label for="{{ form.annee_creation.id_for_label }}">{{ form.annee_creation.label }}</label>
                {{ form.annee_creation }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="{{ form.registre_commerce.id_for_label }}">{{ form.registre_commerce.label }}</label>
                {{ form.registre_commerce }}
            </div>
            <div class="col">
                <label for="{{ form.capital_social.id_for_label }}">{{ form.capital_social.label }}</label>
                {{ form.capital_social }}
            </div>
            <div class="col">
                <label for="{{ form.chiffre_affaire.id_for_label }}">{{ form.chiffre_affaire.label }}</label>
                {{ form.chiffre_affaire }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="{{ form.note_fournisseur.id_for_label }}">{{ form.note_fournisseur.label }}</label>
                {{ form.note_fournisseur }}
            </div>
        </div>
        <button type="submit" name="Submit" class="btn btn-primary btn-sm my-3">Sauvegarde</button>
    </form>
{% endblock %}